* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.active {
    color: #CCCBCB;
    background-color: #E26D01;
}

h1,
h2,
p {
    color: #fff;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icons img {
    width: 30px;
    margin: 10px;
}


/* ------------------- HEADER -------------------- */

header {
    background-image: url(../img/photo-1544099858-75feeb57f01b.jpg);
    background-size: 100%;
    height: 135vh;
}

header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header img {
    width: 130px;
    margin-top: 10px;
}

header .container ul {
    display: flex;
}

header .container ul li {
    list-style: none;
}

header .container ul li a {
    padding: 15px;
    color: #CCCBCB;
    text-decoration: none;
    font-size: 20px;
}

header .content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .content h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-shadow: 0 0 30px #E26D01;
    border-bottom: 3px solid #E26D01;
    margin-bottom: 10px;
    padding-top: 200px;
}

header .content p {
    padding: 5px 0;
}

header .content .small {
    font-size: small;
}


/* -------------------- MAIN -------------------- */

main {
    background-color: #0B0C0F;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 h2 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-shadow: 0 0 30px #E26D01;
    border-bottom: 3px solid #E26D01;
    margin-bottom: 10px;
    margin-top: 30px;
}

.section1 p {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.section2 {
    padding-bottom: 100px;
}

main .section2 .box1,
.box2 {
    display: flex;
}

.section2 .box {
    width: 190px;
    height: 230px;
    background-color: #E26D01;
    border-radius: 10px;
    margin: 20px;
}

.section2 .box img {
    width: 100%;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section2 .box p {
    text-align: center;
    padding-top: 8px;
}

.section3 h2 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-shadow: 0 0 30px #E26D01;
    border-bottom: 3px solid #E26D01;
    margin-bottom: 10px;
    text-align: center;
}

.section3 p {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
}


/* -------------------- FOOTER -------------------- */

footer {
    background-color: #21252E;
    height: 50px;
}

footer p {
    text-align: center;
    padding-top: 15px;
}